*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

table, tr, td{
    border: 2px solid black
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.Style1{
    font-family: cursive;
    font-size: 100px;
    text-align: left;
}